<ion-view view-title="Dashboard" ng-init="init()">
  <ion-content class="padding" onload = "draw_line">
    <div class="list card">
      <div class="item item-divider"> daily scoreborad <b>sector 1</b></div>
      <div class="item item-body">
        <div>
          Today
          <div id="chart_day" width="95%" height="10"></div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Weekly scoreboard <b>sector 2</b></div>
      <div class="item item-body">
        <div>
          This week
          <div id="chart_week" width="95%" height="10"></div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Monthly scoreboard <b>sector 3</b></div>
      <div class="item item-body">
        <div>
          This month
          <div id="chart_month" width="95%" height="10"></div>
        </div>
      </div>
    </div>
    <button id="identify-button" class="button button-block button-dark" ng-click="identifyUser()">
      Identify a user
    </button>
    <button id="register-button" class="button button-block button-stable" ng-if="identified" ng-click="pushRegister()">
      Register for Push
    </button>
  </ion-content>
</ion-view>
