<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Today</div>
      <div class="item item-body">
        <div>
          daily scoreborad <b>sector 1</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">This week</div>
      <div class="item item-body">
        <div>
          Weekly scoreboard <b>sector 2</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">This month</div>
      <div class="item item-body">
        <div>
          Monthly scoreboard <b>sector 3</b> 
        </div>
      </div>
    </div>
    <button class="button button-block button-dark" ng-click="identifyUser()">
      Identify a user
    </button>
    <button class="button button-block button-stable" ng-if="identified" ng-click="pushRegister()">
      Register for Push
    </button>
  </ion-content>
</ion-view>
