<ion-view view-title="Setting">
  <ion-content>
    <div class="list card"> 
      <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
          Enable Friends
      </ion-toggle>
      </ion-list>
    </div>
    <div id="show_the_result"></div>
    <!--list of choices-->
    <div class="list card"> 
      <div class="item item-divider"><b>Set Test Time</b></div> 
        <!-- toggle the time -->
        <ion-toggle >
          Enable Test Alarm
        </ion-toggle>
        <!--This is the card body-->      
        <div class="item item-body">  
          <label class="item item-input item-select">
            <div class="input-label">
              AM || PM
            </div>
            <select id="am_pm" onchange = "changeTestAPm()">
              <option value="am">AM</option>
              <option value="pm" selected>PM</option>
            </select>
          </label>
        </div>
        <div class="item item-body">  
          <label class="item item-input item-select">
            <div class="input-label">
              Hour
            </div>
            <select id="hour" onchange = "changeTestHour()">
              <option value="0">00</option>
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6" selected>06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </label>
        </div>
        <div class="item item-body">  
          <label class="item item-input item-select">
            <div class="input-label">
              Minute
            </div>
            <select id="minute" onchange = "changeTestMin()">
              <option value="0">00</option>
              <option value="5">05</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30" selected>30</option>
              <option value="35">35</option>
              <option value="40">40</option>
              <option value="45">45</option>
              <option value="50">50</option>
              <option value="55">55</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
